@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

html {
    height: 100%;
    width: 100%;
    font-family: "Jersey 10", sans-serif;
    overflow: hidden;
    background-image: url('../../files/img/backgrounds/background-fase_04_mexico.jpg');
    background-size: cover;
    background-size: 100% 100%;
}

.game-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.box-name {
    background-color: #FFD94D;
    margin-top: 20px;
    width: 250px;
    max-height: 60px;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    overflow-y: auto;
}

.box-title {
    margin-top: 5px;
    width: 250px;
    height: 60px;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}

.box-time {
    background-color: #FFD94D;
    margin-top: 20px;
    width: 250px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
}

span {
    color: black;
    font-size: 3em;
    font-weight: 500;
}

.timer-span {
    font-size: 1em;
}

.title-span1 {
    color: #059C42;
}

.title-span2 {
    color: #E82929;
}

/*                  */
/* CONTEÚDO DO GAME */
/*                  */

.game-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 120px 120px 120px 120px 120px 120px;
    gap: 25px 90px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 20px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
    cursor: pointer;
}

.viraCarta {
    transform: rotateY(180deg);
    left: 7px;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    border: solid 4px #000000;
    background-color: #059c41aa;
    border-radius: 20px;
    transition: all 900ms ease;
}

.desligaCarta {
    opacity: 0.3;
    border: none;
}

.desligaCarta:hover {
    opacity: 1;
}

.front {
    transform: rotateY(180deg);
}

.back {
    background-image: url('../../files/img/backgrounds/background-fase_04_mexico.jpg');
    backface-visibility: hidden;
}

/* RODAPÉ */
.game-footer {
    display: flex;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #059c41aa;
    height: 133px;
    border-radius: 10px;
    margin-top: 20px;
}

.box-btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 133px;
}

.box-btn a,
button {
    font-family: "Jersey 10", sans-serif;
    color: #FFF;
    text-decoration: none;
    font-size: 2em;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.fase-btn {
    background-color: #333;
    border-radius: 5px;
    padding: 3px;
    transition: all 600ms ease;
}

.fase-btn:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em #4a4a4a;
    transition: all 0.3s;
}

.fase-btn:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #ffffff;
    transition: all 0.2s;
}

.btn-icon {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: 3px solid #333;
}

.img01 {
    background-image: url('../../files/img/backgrounds/background-index.jpeg');
    background-size: cover;
    background-position: center;
}

.img02 {
    background-image: url('../../files/img/backgrounds/background-fase_04_mexico.jpg');
    background-size: cover;
}

.img03 {
    background-image: url('../../files/img/backgrounds/background-fase_05_eua.jpeg');
    background-size: cover;
    background-position: center;
}